body {
    padding-top: 60px;
}

.fluid-container {
    width: 720px;
    min-width: 720px;
}

.fluid-content {
    padding: 25px;
}

header.head h1,
.post h1
{
    font-size: 58px;
    margin-bottom: 15px;
}

header.head p {
    font-size: 25px;
    margin-bottom: 8px;
    line-height: 1;
}

.post h2 {
    margin-bottom: 9px;
    font-size: 18px;
}

.post p {
    margin-bottom: 5px;
}

